/build
gradle.properties
.idea/deploymentTargetDropDown.xml
.idea/libraries/
.idea/modules/
.gradle/8.0/checksums/checksums.lock
.gradle/8.0/checksums/md5-checksums.bin
.gradle/8.0/checksums/sha1-checksums.bin
.gradle/8.0/executionHistory/executionHistory.bin
.gradle/8.0/executionHistory/executionHistory.lock
.gradle/8.0/fileHashes/fileHashes.bin
.gradle/8.0/fileHashes/fileHashes.lock
.gradle/8.0/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/file-system.probe
local.properties